
#loader{
	position: fixed;
	width: 100%;
	height: 100vh;
    background: #ff4aff url('preloader.gif') no-repeat center center;
	z-index: 999;
}
.mainLogo{
    position: relative;
    width: 15%;
    height: 15%;
    background-color: #52185A;
}

/* scroll-up button starts */

#goingupbtn {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #52185A;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 1;
}

#goingupbtn:hover {
    width: 52px;
    height: 52px;
    margin: 2px;
    background: #C364D0;
}

#goingupbtn:active {
    background: rgb(12, 214, 12);
}


/* scroll-up button ends */
